{% extends 'base.html' %}
{% load static %}
{% block album_create %}active{% endblock %}
{% block icerik %}
    <div class="col-lg-12">
        <div class="col-lg-6 col-lg-offset-3">
            <h1>Album Oluşturma</h1>
            <form enctype="multipart/form-data" method="post" action="{% url "album-create" %}">
                {% csrf_token %}
                {% include 'album/include/form-include.html' %}
                <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-success" value="Album Oluştur">
                    <a href="{% url 'album-list' %}">Albümlerim</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block title %}
    Album Create
{% endblock %}