{% extends 'album/album_detail_base.html' %}
{% load static %}


{% block detay_icerik %}
    <h3>All Songs</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Şarkı İsim</th>
            <th>Ses Dosyası</th>
            <th>Favorite</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sarki in album.sarki_set.all %}
            <tr>
                <td>{{ sarki.sarki_isim }}</td>
                <td>
                    <a target="_blank" href="#">
                        <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                        </button>
                    </a>
                </td>
                <td>
                    <a href="#" class="btn-favorite"><span
                            class="glyphicon glyphicon-star"></span></a>
                </td>
                <td>
                    <form action="#" method="post"
                          style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="song_id" value="{{ song.id }}"/>
                        <button type="submit" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


