{% extends 'album/album_detail_base.html' %}
{% load static %}


{% block detay_icerik %}
    <h3>All Songs</h3>
    <div class="row">
        <form style="display: inline" action="{% url 'album-detail' album.slug %}" method="get">
            {% for field in form %}
                <div class="col-lg-4">
                    <div class="form-group">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="text-danger">
                            {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-8">
                <input type="submit" class="btn btn-sm btn-success" value="Sorgula">
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Şarkı İsim</th>
            <th>Ses Dosyası</th>
            <th>Favorite</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sarki in songs %}
            <tr>
                <td>{{ sarki.sarki_isim }}</td>
                <td>
                    <a target="_blank" href="{% if sarki.ses_dosyasi %}{{ sarki.ses_dosyasi.url }}{% endif %}">
                        <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'favorite-song' album.slug sarki.pk %}?next={% url 'album-detail' album.slug %}"
                       class="btn-favorite"><span
                            class="glyphicon glyphicon-star {% if sarki.is_favorite %}active{% endif %} "></span></a>
                </td>
                <td>
                    <a href="{% url 'delete-song' album.slug sarki.pk %}" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                    </a>
                </td>
            </tr>
        {% empty %}
                {% if album.sarki_set.all|length > 0 %}
                <tr>
                <td colspan="4">
                    <p class="text-center">
                        <span class="glyphicon glyphicon-search">
                            <b class="text-primary lead" >Aradığınız Kriterlerde Sonuç Bulunamadı</b>
                        </span>
                    </p>
                </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block album_detail_active %}active{% endblock %}

