{% extends 'base.html' %}
{% load static %}

{% block icerik %}
    <div class="col-sm-4 col-lg-3">
        <div class="thumbnail">
            {% if album.get_album_photo %}
                <img src="{{ album.get_album_photo }}" class="img-responsive">
            {% else %}
                <img src="{% static 'img/defult.jpg' %}" class="img-responsive">
            {% endif %}
            <div class="caption">
                <h2>{{ album.album_isim }}
                    <small>{{ album.album_tur }}</small>
                </h2>
                <h4>{{ album.sanatci_isim }}</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-sm-8 col-lg-9">
        <ul class="nav nav-pills" style="margin-bottom: 10px;">
            <li role="presentation" class="active"><a href="{% url 'album-list' %}">Tüm Albümler</a></li>
            <li role="presentation" class=""><a href="{% url 'album-update' album.slug %}">Albüm Güncelle</a></li>
            <li role="presentation"><a href="#">Add New Song</a></li>
        </ul>
    </div>
{% endblock %}
