<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width:500px;margin:0 auto">
    <h1 style="text-align:center">Albüm Güncelle</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'album-update' form.instance.slug %}">
        <table>
            {% csrf_token %}
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="Gönder"></td>
            </tr>

        </table>
    </form>


</div>
</body>
</html>