{% extends 'base.html' %}
{% block icerik %}
    <h1 style="text-align:center">Albüm Güncelle</h1>
    <div class="col-lg-12">
        <div class="col-lg-6 col-lg-offset-3">
            <form method="post" enctype="multipart/form-data" action="{% url 'album-update' form.instance.slug %}">
                {% csrf_token %}
                {% include 'album/include/form-include.html' %}
                <div class="form-group">
                    <input type="submit" class="btn btn-sm btn-primary" value="Album Güncelle">
                    <a href="{% url 'album-detail' form.instance.slug %}">Albüm Detay</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block title %}
    Albüm Güncelle
{% endblock %}