{% extends 'base.html' %}
{% load static %}
{% block album_active %}active{% endblock %}
{% block title %}
    Album List
{% endblock %}
{% block icerik %}
    <div class="albums-container container-fluid">
        {% for album in albumler %}
            <div class="col-sm-4 col-lg-3">
                <div class="thumbnail">
                    <a href="#">
                        {% if album.get_album_photo %}
                            <img style="height:300px" src="{{ album.get_album_photo }}" class="img-responsive">
                        {% else %}
                            <img style="height:300px" src="{% static 'img/defult.jpg' %}" class="img-responsive">
                        {% endif %}
                    </a>
                    <div class="caption">
                        <h2>{{ album.album_isim|truncatewords:3 }}</h2>
                        <h4>{{ album.sanatci_isim }}</h4>
                        <!-- View Details -->
                        <a href="{% url 'album-detail' album.slug %}" class="btn btn-primary btn-sm"
                           role="button">View
                            Details</a>

                        <!-- Delete Album -->
                        <a href="{% url 'album-delete' album.slug %}" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <!-- Favorite Album -->
                        <form style="display:inline" method="post" action="{% url 'album-favorite' %}">
                            {% csrf_token %}
                            <input name="slug" type="hidden" value="{{ album.slug }}">
                            <button type="submit" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
