{% extends 'anonymous_user_base.html' %}
{% block login %}active{% endblock %}

{% block icerik %}
    <div class="container-fluid">
        <div class="row">
            <div style="float:none;margin:0 auto" class="col-lg-8 pull-center">
                <div style="margin-top:50px" class="panel panel-default">
                    <div class="panel-body">
                        <h2>Login</h2>
                        <div class="col-lg-8 pull-center">
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </div>
                            {% endfor %}
                            <form method="post" action="{% url 'user-login' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{ field.label }}
                                            </label>
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <span class="text-danger">
                                            <b>{{ error }}</b>
                                            </span>
                                            {% empty %}
                                                {% if field.help_text %}
                                                    <span class="text-success"><b>
                                                    {{ field.help_text }}
                                                </b></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row">
                                    <button type="submit" class="btn btn-success">
                                        Login
                                    </button>
                                    <span class="text-primary">
                                        <a href="#"><b>Şifreni mi unuttun ?</b></a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}